.continue_btn {
  position: relative;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #7a727269, #81810c6b);
  color: white;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: var(--shadow);
  overflow: hidden;
  outline: none;

  animation: pulse 2s infinite;
}

.continue_btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.627), transparent);
  transition: 0.5s;
}

.continue_btn:hover::before {
  left: 100%;
}

.continue_btn.error {
  background-color: rgb(136, 32, 32);
}
.continue_btn.complite {
  background: linear-gradient(135deg, #d5d814ae, #26f4076b);
}
