h1,
h2,
h3 {
  margin: 0;
}
.start_page__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.start_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.start_page__greeting {
  margin-bottom: 20px;
  color: white;
  font-weight: 100;
}
.start_page__title {
  color: white;
}
.startPge__text {
  color: white;
  text-align: center;
}
.start_page__sartBtn {
  max-width: 150px;
  min-width: 50vh;
  padding: 10px;
  background: #004b9bf9;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.start_page__logoutBtn {
  max-width: 150px;
  min-width: 50vh;
  padding: 10px;
  margin: 10px;
  background: #040f1b72;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
