html,
body {
  overflow: hidden; /* Убирает прокрутку */
  height: 100%; /* Важно для корректной работы */
  margin: 0;
  padding: 0;
}
.game__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.game {
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efcbbb;
}

.game__header {
  display: flex;
}
.game__field {
  display: flex;
  flex-direction: column;
}

.game__area {
}

.game__mixed_words_area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  background-color: #fffafa;
  border-radius: 10px;
}
