html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
main {
  width: 85%;
}
.game__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.game__container.hidden {
  display: none;
}
.game {
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__header {
  display: flex;
}
.game__field {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
}

.game__area {
  display: flex;
  flex-direction: column;
}

.game__mixed_words_area {
  padding: 15px;
  background-color: #fffafa;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}

.error {
  background-color: red;
}

.active {
  background-color: #fffafa8e;
}

@media (max-width: 700px) {
  .game {
    width: 90%;
  }
  main {
    width: 90%;
  }
}

@media (max-width: 430px) {
  .game {
    width: 100%;
  }
  .game__field {
    margin-bottom: 0px;
    padding: 0px;
  }
}

.game__exit {
  max-width: 50px;
  min-width: 10vh;
  margin-left: 50px;
  background: #004b9bf9;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.game__exit:hover {
  background-color: #4338ca;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(79, 70, 229, 0.2);
}

.translation_btn {
  border: solid 1px white;
  font-size: 15px;
  font-weight: 100;
  border-radius: 5px;
  margin-left: 50px;
  background: #fffafa00;
  color: rgb(255, 253, 253);
  border-radius: 6px;
  cursor: pointer;
  margin-right: 20px;
}
.translation_btn:hover {
  background-color: #4338ca;
  box-shadow: inset 3px;
}
.hintArea {
  padding: 10px;
  margin-top: 20px;
  border: 1px dashed #999;
  color: #9b9696;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
