html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
main {
  width: 70%;
}
.game__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.game {
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__header {
  display: flex;
}
.game__field {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
}

.game__area {
  display: flex;
  flex-direction: column;
}

.game__mixed_words_area {
  padding: 15px;
  background-color: #fffafa;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  gap: 3px;
}
