html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
main {
  width: 85%;
}
.game__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.game {
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__header {
  display: flex;
}
.game__field {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
}

.game__area {
  display: flex;
  flex-direction: column;
}

.game__mixed_words_area {
  padding: 15px;
  background-color: #fffafa;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}

.error {
  background-color: red;
}

.active {
  background-color: #fffafa8e;
}

@media (max-width: 700px) {
  .game {
    width: 90%;
  }
  main {
    width: 90%;
  }
}

@media (max-width: 430px) {
  .game {
    width: 100%;
  }
  .game__field {
    margin-bottom: 0px;
    padding: 0px;
  }
}
